<!-- Change Password page -->
<div class="container show-top-margin">
  <form id="change-pass" class="form-sx" data-ng-submit="tide.changepass(this)" 
    role="form">
    <h1>{{'CHGP_TITLE'|translate}}</h1>
    <div class="form-group">
      <label for="newpass" class="hide">{{'CHGP_NEWPASS'|translate}}</label>
      <input id="newpass" data-ng-model="newpass" type="password"
        class="form-control" required data-tide-autofocus
        placeholder="{{'CHGP_NEWPASS'|translate}}" />
    </div>
    <div class="form-group">
      <label for="confpass" class="hide">{{'CHGP_CONFIRPASS'|translate}}</label>
      <input id="confpass" data-ng-model="confpass" type="password"
        class="form-control" required 
        placeholder="{{'CHGP_CONFIRPASS'|translate}}" />
    </div>
    <button class="btn btn-primary pull-right" type="submit">
			{{'CHGP_OK'|translate}}
		</button>
  </form>
</div>

