<!-- Forgot page -->
<div class="container show-top-margin">
  <form id="forgot" role="form" class="form-sx" data-ng-submit="tide.resetpass(this)">
    <h1>{{'FGT_TITLE'|translate}}</h1>
    <div id="forgot-alert" class="alert hide"></div>
		<p>{{'FGT_DESC'|translate}}</p>
		<div class="form-group">
      <label for="email" class="hide">{{'FGT_EMAIL'|translate}}</label>
      <input id="email" type="email" class="form-control" required 
             data-tide-autofocus data-ng-model="email" label="EMail"
             placeholder="{{'FGT_EMAIL'|translate}}" />
		</div>
		<div class="form-group">
      <label for="nombre" class="hide">{{'FGT_NAME'|translate}}</label>
			<input id="nombre" type="text" class="form-control" required 
						 data-ng-model="nombre" label="nombre"
						 placeholder="{{'FGT_NAME'|translate}}" />
		</div>
    <a href="#/login" 
      class="link">{{'FGT_LOGIN_LINK'|translate}}</a>
		<button id="bt" class="btn btn-primary pull-right" type="submit">{{'FGT_OK'|translate}}</button>
	</form>
</div>

