<!-- Login page -->
<div class="container show-top-margin">
  <form id="login" role="form" class="form-sx" data-ng-submit="tide.login(this)">
    <h1>{{'LGN_TITLE'|translate}}</h1>
    <div id="login-fail" class="alert alert-danger hide"></div>
    <div class="form-group">
      <input id="email" data-ng-model="email" type="email" class="form-control"
        required data-tide-autofocus 
				placeholder="{{'LGN_EMAIL'|translate}}" />
    </div>
    <div class="form-group">
      <input id="password" data-ng-model="password" type="password"
        class="form-control" required placeholder="{{'LGN_PASS'|translate}}"/>
    </div>
    <a href="#/forgot" class="link">{{'LGN_FORGOT_LINK'|translate}}</a>
    <button class="btn btn-primary pull-right" type="submit">
			{{'LGN_OK'|translate}}
		</button>
  </form>
</div>
