<!-- About page -->
        <h1>¿Qué es TutorIDE?</h1>
        <p>TutorIDE es un IDE (entorno de desarrollo integrado) que permite
        seguir tutoriales en línea o fuera de línea y, al mismo tiempo,
        evaluar expresiones y ejecutar pequeños programas utilizando distintos
        compiladores o intérpretes de distintos lenguajes de programación.
        </p>
        <p>De este modo, los tutoriales pueden seguirse al ritmo que se desee.
        El usuario tiene la posibilidad de crear su propia versión del ejemplo
        expuesto en el tutorial o de seguirlo al pie de la letra. En cualquier
        caso, tanto la evaluación parcial de los extractos de código como del
        programa completo puede realizarse en una consola que facilita enormemente
        la edición rápida y la gestión del proyecto al mismo ritmo que se sigue
        del tutorial.</p>
        <h2>¿Cómo se usa?</h2>
        <p>Para utilizar TutorIDE es necesario estar registrado como usuario
        y acceder a la consola utilizando este <a href="#/login">enlace</a>.
        </p>
