<!-- About page -->
        <h1>What is TutorIDE?</h1>
        <p>TutorIDE is an IDE (integrated development environment) that 
				allows you to follow tutorials online or offline and, at the same 
				time, evaluate expressions and execute small programs using 
				different compilers or interpreters of different programming languages.
        </p>
        <p>In this way, the tutorials can be followed at the desired pace. 
				The user has the ability to create their own version of the example 
				given in the tutorial or follow it to the letter. In any case, both 
				the partial evaluation of extracts code and the full program can be 
				done on a console that greatly facilitates rapid editing and project 
				management at the same rate that follows the tutorial.
        </p>
        <h2>How is it used?</h2>
        <p>To use TutorIDE you must be registered as a user and access the 
				console using this <a href="#/login">link</a>.
        </p>
