<!-- Footer page -->
      <div class="container text-center">
        <ul class="list-inline">
          <li><a href="#/sitemap">{{'FOOTER_SITEMAP'|translate}}</a></li>
          <li class="end"><a href="#/about">{{'FOOTER_ABOUT'|translate}}</a></li>
        </ul>
      </div>
