<!-- Header page -->
<nav class="navbar navbar-default" role="navigation">
  <div class = "container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target="#menu-user">
        <span class="sr-only">nav</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/about" class="navbar-brand">
				<span data-placement="right" data-tide-tooltip="TITLE_TOOLTIP">
          <img src="img/TutorIDE-Logo.png" alt="{{'TITLE_TOOLTIP'|translate}}"/>
					<strong>{{'TITLE'|translate}}</strong>
        </span>
			</a>
    </div>
    <div id="menu-user" class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
				<li data-ng-show="tide.session.isAuthenticated() && tide.session.envs !== null">
					<a href="javascript:void(0);" 
						data-ng-click="tide.changeEnv(tide.session.activeEnv.id)">
						<span id="dropdown_env" data-ng-bind="tide.session.activeEnv.id"/>
  				</a>
				</li>
				<li data-ng-show="tide.session.isAuthenticated() && tide.session.envs.length > 1" class="dropdown">
					<a class="dropdown-toggle" href="javascript:void(0);" 
						data-toggle="dropdown">
							{{'MNU_CONSOLE_LABEL'|translate}}&nbsp;
						<span class="caret"></span>
  				</a>
					<ul class="dropdown-menu">
						<li data-ng-repeat="env in tide.session.envs">
							<a href="javascript:void(0);" data-ng-click="tide.changeEnv(env)">
								{{env}}</a>
						</li>
					</ul>
        </li>
				<li data-ng-show="tide.session.isAuthenticated() && (tide.session.isTutor() || tide.session.isRoot())">
					<a class="dropdown-toggle" href="javascript:void(0);" 
						data-toggle="dropdown">
						{{'MNU_MANAGEMENT_LABEL'|translate}}&nbsp;
						<span class="caret"></span>
  				</a>
					<ul class="dropdown-menu">
						<li data-ng-show="tide.session.isAuthenticated() && tide.session.isTutor()">
							<a href="#/users">
								<span data-placement="bottom" 
									data-tide-tooltip="MNU_USER_TITLE">
									{{'MNU_USER_LABEL'|translate}}
								</span>
							</a>
        		</li>
						<li data-ng-show="tide.session.isAuthenticated() && tide.session.isRoot()">
							<a href="#/envs">
            		<span data-placement="bottom" 
									data-tide-tooltip="MNU_ENVS_TITLE">
              		{{'MNU_ENVS_LABEL'|translate}}
            		</span>
          		</a>
        		</li>
					</ul>
				</li>
				<li data-ng-show="!tide.session.isAuthenticated()" >
					<a class="dropdown-toggle" href="javascript:void(0);" 
						data-toggle="dropdown">
						{{aptide.currentLang}}<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#" data-tide-languaje="es">
							<span data-placement="bottom">ES</span>
						</a></li>
						<li><a href="#" data-tide-languaje="en">
							<span data-placement="bottom">EN</span>
						</a></li>
					</ul>
				</li>
        <li data-ng-show="!tide.session.isAuthenticated() && aptide.route.current.originalPath !== '/login'">
          <a href="#/login">
            <span data-placement="bottom" data-tide-tooltip="MNU_LOGIN_TITLE">
              {{'MNU_LOGIN_LABEL'|translate}} 
							<img src="img/login.png"alt="{{'MNU_LOGIN_LABEL'|translate}}"/>
            </span>
          </a>
        </li>
				<li data-ng-show="tide.session.isAuthenticated()" >
					<a class="dropdown-toggle" href="javascript:void(0);" 
						data-toggle="dropdown">
            {{tide.session.username}}
						<span class="caret"></span>
          </a>
					<ul class="dropdown-menu">
						<li><a href="#" data-tide-languaje="es">
							<span data-placement="bottom">ES</span>
						</a></li>
						<li><a href="#" data-tide-languaje="en">
							<span data-placement="bottom">EN</span>
						</a></li>
						<li class="divider"></li>
						<li><a href="#/change-pass">
							<span data-placement="bottom" 
								data-tide-tooltip="MNU_CHANGEPASS_TITLE">
								{{'MNU_CHANGEPASS_LABEL'|translate}}
							</span>
						</a></li>
						<li><a href="#" data-ng-click="tide.logout()">
							<span data-placement="bottom" 
								data-tide-tooltip="MNU_LOGOUT_TITLE">
								{{ 'MNU_LOGOUT_LABEL' | translate}}
								<img src="img/logout_black.png" alt="{{'MNU_LOGOUT_LABEL'|translate}}"/>
							</span>
						</a></li>
					</ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
