 <!-- About page -->
    <div class="container show-top-margin">
      <div class="form-sx">
        <h1>{{'STMP_TITLE'|translate}}</h1>
        <ul>
          <li>
            <a href="#/login">{{'STMP_LOGIN'|translate}}</a>
            <ul>
              <li data-ng-show="tide.session.isAuthenticated()">
                <a href="#/console">{{'STMP_CONSOLE'|translate}}</a>
              </li>
              <li data-ng-show="tide.session.isAuthenticated()">
                <a href="#/change-pass">{{'STMP_CHANGEPASS'|translate}}</a>
              </li>
              <li data-ng-show="tide.session.isAuthenticated() && tide.session.isTutor()">
                <a href="#/users">{{'STMP_USER'|translate}}</a></li>
              <li data-ng-show="tide.session.isAuthenticated() && tide.session.isRoot()">
                <a href="#/envs">{{'STMP_ENVS'|translate}}</a></li>
              <li data-ng-show="tide.session.isAuthenticated()">
                <a href="#"
data-ng-click="tide.logout()">{{'STMP_LOGOUT'|translate}}</a></li>
            </ul>
          </li>
          <li><a href="#/forgot">{{'STMP_FORGOT'|translate}}</a></li>
          <li><a href="#/about">{{'STMP_ABOUT'|translate}}</a></li>
        </ul>
      </div>
    </div >
