@font-face {
	font-family: 'Tide';
	src: url('../fonts/Tide.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Tide';
	src: url('../fonts/TideBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
html {
  background-color: #fff;
  height: 100%;
}
body {
  font-family: "Tide";
  position: relative;
  min-height: 100%;
}
#includeBody {
  padding-bottom: 45px;
}
footer a {
  font-weight: normal;
}
footer{
  margin-top: 70px;
  width: 100%;
  height: 45px;
  position: absolute;
  bottom: 0;
  left: 0;
}
label {
  display: inline;
  font-weight: normal;
}
.navbar-brand {
	padding: 9px 10px 15px 10px;
}
.auth-border-right {
  border-right: 1px solid #D9D9D9;
}
.auth-border-left {
  border-left: 1px solid #D9D9D9;
}
.console-container, .code-container {
  word-wrap: break-word;
}
.console-container, .code-container, .CodeMirror, .code-md {
  height: 500px; 
}
.code-container > .container-fluid,
.code-container > .container {
	padding: 0px;
}
.code-container > .container-fluid > .col-sm-6, 
.code-container > .container-fluid > .col-md-6, 
.code-container > .container-fluid > .col-lg-6,
.code-container > .container > .col-sm-6, 
.code-container > .container > .col-md-6, 
.code-container > .container > .col-lg-6 {
	padding-left: 0px;
}
.code-container > .container-fluid > .code-col > .rg-right,
.code-container > .container > .code-col > .rg-right {
	/* resizable */
	margin-right: -1px;
}
.console-container {
	overflow: auto;
}
table.console-tbl, .console-container {
  border: 2px solid #eee;
}
.code-container > .container-fluid,
.code-container > .container {
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}
.CodeMirror, .code-md{
  border-right: 2px solid #eee;
  border-left: 2px solid #eee;
}
.code-md {
	overflow: auto;
}
.console {
  background: none repeat scroll 0 0 #FFFFFF;
  font-family: monospace;
	margin-left: 4px;
}
.jquery-console-input { 
	background: transparent; 
	border: 0px;
	outline: 0px;
	top: 0px;
	width: auto;
}
.jquery-console-prompt-label, .jquery-console-prompt-content{
  color: #8F4E8B;
  font-weight: bold;
}
.jquery-console-content {
}
.list-files li {
  list-style-type: none;
}
div.list-files {
  /*height: 350px;*/
  /*overflow: auto;*/
	/*border: 2px solid #eee;*/
}
.list-files ul {
  padding-left: 0;
}
.form-sx {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.action {
  width: auto;
}
.action button {
  padding: 0 0 0 0;
}

.list-inline > li {
  padding: 0 0 0 0;
}

.list-inline > li:after {
   content: " |";
   color: #999999;
}
.list-inline > li.end:after {
  content: "";
}

.console-tbl > thead > tr > th,
.console-tbl > tbody > tr > th,
.console-tbl > tfoot > tr > th,
.console-tbl > thead > tr > td,
.console-tbl > tbody > tr > td,
.console-tbl > tfoot > tr > td {
	white-space: nowrap;
  border-width: 0px;
}
.console-tbl > caption + thead > tr:first-child > th,
.console-tbl > colgroup + thead > tr:first-child > th,
.console-tbl > thead:first-child > tr:first-child > th,
.console-tbl > caption + thead > tr:first-child > td,
.console-tbl > colgroup + thead > tr:first-child > td,
.console-tbl > thead:first-child > tr:first-child > td {
  border-top: 0px;
}
.list-files > table {
  border: 0px;
}

.list-files > table > thead > tr > th {
  border-top: 0px;
}
.nav-tabs > li > a.closetab, 
.nav-tabs > li > a.savetab {
  margin: 0px;
  padding-top:9px;
  padding-right:7px;
  padding-left:0px;
}
.nav-tabs > li > a.savetab {
  padding-right:3px;
}
.nav-tabs > li > a {
  padding-right: 7px;
  padding-left: 7px;
}
.nav-tabs > li > a.editor-modified {
  font-style: italic;
}
.nav-tabs {
  padding-right: 32px;
}
@media (max-width: 500px) {
  .email {
    max-width:8em;
    float:left;
    text-overflow:ellipsis;
    overflow:hidden;
  }
}

.form-control {
	height: auto;
}
.console-tbl > tbody > tr > td {
	padding: 8px 8px 0px 8px;
}
.bootstrap-select {
	padding: 0px;
}
.bootstrap-select .btn {
	background-color: white;
	color: black;
	height: 24px;
	padding: 4px 0px 0px 4px;
	border: 0px;
}
@media (min-width: 768px) and (max-width: 992px) {
	.bootstrap-select .btn > span {
		max-width: 7em;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.bootstrap-select .btn > span {
		max-width: 10em;
	}
}
.bootstrap-select.btn-group .btn .caret {
	right: -8px;
}
.bootstrap-select > button > span.caret {
	border-top-color: black;
}

/** loading page **/
.waiting {
  cursor: wait;
}
/** console page **/
#tcContent > div {
	display: table-row;
}
.working {
  background-image: url("../img/ajax-loader-sm.gif");
  background-repeat: no-repeat;
  background-position: 100% 90%;
}
.spinner-wrapper {
  min-width:100%;
  min-height:100%;
  height:100%;
  top:0;
  left:0;
  background-color: black;
  opacity: 0.5;
  position:absolute;
  z-index:300;
}
#loading {
  z-index: 2000;
  padding-left: 66px;
  padding-top: 30px;
  background:white url("../img/ajax-loader.gif") no-repeat 16px center;
  width:180px;
  height:80px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-weight:bold;
}
.container > dl, .container > p {
  padding-left: 15px;
  padding-right: 15px;
}
.container > dl > dd {
  padding-left: 30px;
}
.thumbnail > h2 {
  text-align: center;
}
.thumbnail > p {
  padding: 15px;
}
/* xeditable select */
.editable-select-box {
  height: 2em;
  background: red;
}
/**
 * Graph styles
 */
/* Styles for D3 graphs inside ti-graph classed div */
.ti-graph circle.w-children {
  fill: lightsteelblue;
}
.ti-graph circle.wo-children {
  fill: steelblue;
}
/* Graph links are svg.path elements with 'link' class */
.ti-graph .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
/* Graph nodes are svg.g elements with 'node' class */
.ti-graph .node {
  cursor: pointer;
}
/* Text shown outside/inside nodes */
.ti-graph text {
  fill: #000;
  font: 10px sans-serif;
	stroke: #fff;
  fill-opacity: 1e-6;
}
/* Div around every SVG individual object */
.canvas {
  resize: both;
  overflow: hidden;
  background-color: #F5F5F5;
  border: 1px solid #ccc;
  border-radius: 3px;
  white-space: nowrap;
  background-image: url("../img/resize.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
th {
	font-weight: bold;
}
/* Angular UI tree customization */
.ui-tree-nodes,
.tree-node {
	min-height: 28px;
	font-weight: normal;
}
li.ng-scope.angular-tree-node {
	white-space: nowrap;
}
span.node-title {
	float: left;
	line-height: 28px;
}
span.node-buttons {
	float: right;
	cursor: pointer;
	line-height: 28px;
}
a.ng-scope:hover {
	text-decoration: none;
}
.collapsed,
.notcollapsed {
	cursor: pointer;
}
div.bootstrap-select.open > button > span.caret {
	display: none;
}
button.btn-group.open.dropdown-toggle {
	box-shadow: inherit;
	-webkit-box-shadow: inherit;
	background: inherit;
	color: inherit;
}
.collapsed:before {
	content: "▶";
}
.notcollapsed:before {
	content: "▼";
}
span.node-title.ng-binding {
	font-weight: initial;
}
div.tree-node.tree-node-content {
	padding: 0 8px 0 8px;
	margin: 4px 0 4px 0;
}
div.panel-head {
	background-color: #eee;
	padding: 6px 8px 8px 8px;
	min-height: 41px;
}
div.panel-head > span.node-title {
	font-weight: bold;
}
div.list-projects {
  /*border: 2px solid #eee;*/
	margin-bottom: 15px;
}
.row {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
	align-content: space-around;
	padding-left: 14px;
}
div#sidebar {
	padding-right: 0px;
}
input#tcCmdLine {
	width: 90%;
}
h4.section {
	font-size: initial;
}
.section a {
	display: block;
	padding: 8px;
	background: #ddd;
	color: #333;
	font-weight: bold;
	font-size: 90%;
	text-decoration: none;
}
div.tide-rm {
  font-family: "Tide";
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 10px;
	font-size: 95%;
}
div.tide-rm p {
	text-align: justify;
	text-justify: inter-word;
}
div.tide-rm div.tide-rm-file {
	margin-left: -10px;
	background-color: #eee;
	padding: 8px;
	font-weight: bold;
}
div.tide-rm pre ,
div.tide-rm p {
	margin-right: 15px;
}
div.tide-rm table, th, td{
  border: 2px solid #eee;
	text-align: left;
	padding: 8px;
}
div.tide-rm th {
  border-color: white;
	background-color: #eee;
	font-weight: bold;
	text-align: center;
}
