<!--Users page -->
<div data-ng-controller="UsersCtrl as users" class="container show-top-margin separate-rows tall-rows">
  <div><h1>{{'USER_TITLE'|translate}}</h1></div>
  <table id="users-table" class="table table-bordered table-striped">
    <caption class="hide">{{'USER_DESC'|translate}}</caption>
    <thead>
      <tr>
        <th id="email">{{'USER_EMAIL'|translate}}</th>
        <th id="nombre">{{'USER_NAME'|translate}}</th>
        <th id="clave">{{'USER_PASS'|translate}}</th>
        <th id="envs">{{'USER_ENVS'|translate}}</th>
        <th id="rol">{{'USER_ROL'|translate}}</th>
        <th id="accion" class="action text-center">
          <a data-ng-show="$session.isRoot()" href="javascript:void(0);"
             data-ng-click="users.addUser()">
            <img src="img/add_user.png" alt="{{'USER_ADD'|translate}}"
							data-tide-tooltip="USER_ADD">
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
			<tr data-ng-hide="users.users.rows.length">
				<td colspan="6" headers="email nombre clave rol accion" class="text-center">{{'USER_NOFOUND'|translate}}</td>
			</tr>
      <tr data-ng-repeat="user in users.users.rows">
        <td headers="email"><!-- editable email -->
          <span class="email" data-editable-email="user.doc.name"
						data-e-name="email" data-e-form="rowform" data-tide-autofocus
						data-onbeforesave="users.checkEmail($data)" data-e-required>
            {{ user.doc.name || '' }}
          </span>
        </td>
        <td headers="nombre"><!-- editable name -->
          <span data-editable-text="user.doc.fullname" data-e-name="name" 
						data-e-form="rowform" data-onbeforesave="users.checkName($data)" 
						data-e-required data-e-autofocus>
            {{ user.doc.fullname || '' }}
          </span>
        </td>
        <td headers="clave"><!-- editable name -->
          <span data-editable-password="user.doc.derived_key" 
						data-e-name="password" data-e-form="rowform"
						data-onbeforesave="users.checkPassword($data)" data-e-required >
            {{ users.showPassword(user) || '' }}
          </span>
        </td>
        <td headers="envs"><!-- editable name -->
          <span data-editable-checklist="user.doc.envs" data-e-name="envs" 
						data-e-form="rowform" data-e-ng-options="e for e in users.allenvs"
						data-checklist-before-change="shouldChange(e)"
						data-ng-checklist-model="user.doc.envs">
            {{ users.showEnvs(user.doc.envs) }}
          </span>
        </td>
        <td headers="rol"><!-- editable name -->
          <span data-editable-checklist="user.doc.roles" data-e-name="roles" 
						data-onbeforesave="users.checkRoles($data)" data-e-form="rowform" 
						data-e-ng-options="r for r in users.allroles">
            {{ user.doc.roles.join(', ') || '' }}
          </span>
        </td>
        <td headers="accion" class="action">
          <form data-editable-form name="rowform"
            data-onbeforesave="users.add ? users.createUser($data) : users.saveUser($data)" 
            data-ng-show="rowform.$visible" data-shown="users.inserted == user"
            class="form-buttons form-inline">
            <button type="submit" data-ng-disabled="rowform.$waiting"
							class="btn btn-link" data-tide-tooltip="USER_SAVE">
              <img src="img/save_user.png" alt="{{'USER_SAVE'|translate}}"/>
						</button>
            <button type="button" data-ng-disabled="rowform.$waiting" 
							class="btn btn-link" data-tide-tooltip="USER_CANCEL"
              data-ng-click="rowform.$cancel(); users.cancelUser($index)">
							<img src="img/cancel_user.png" alt="{{'USER_CANCEL'|translate}}"/>
						</button>
          </form>
          <div class="text-center" data-ng-show="!rowform.$visible">
						<a href="javascript:void(0);" data-ng-click="users.editUser(rowform)">
              <img src="img/edit_user.png" alt="{{'USER_EDIT'|translate}}" 
								data-tide-tooltip="USER_EDIT"/></a>
            <a data-ng-show="$session.isRoot()" href="javascript:void(0)"
               data-ng-click="users.deleteUser($index, users.users.rows[$index].doc.name)">
              <img src="img/delete_user.png" alt="{{'USER_DELETE'|translate}}" 
								data-tide-tooltip="USER_DELETE"/>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
