<!-- Console page -->
<h1 class="hide">{{'CNSL_TITLE'|translate}}</h1>
<div id="divProjects" data-ng-controller="ConsoleCtrl as cc"
class="container-fluid">
	<!-- sidebar -->
	<div id="sidebar" class="col-sm-3 col-md-3 col-lg-3" resizable r-directions="['right']">
		<div data-ng-controller="ListProjectsCtrl as lpc" 
			ng-include src="'/console/list-projects.html'"></div>
		<div data-ng-controller="ListFilesCtrl as lfc" 
			ng-include src="'/console/list-files.html'"></div>
	</div>
	<!-- right edit/console area -->
  <div ng-include src="'/console/tutor-console-code.html'"></div>
  <!-- modals -->
  <div data-ng-controller="NewProjectCtrl as npc" 
    ng-include src="'/console/new-project.html'"></div>
  <div data-ng-controller="NewTemplateCtrl as ntc" 
    ng-include src="'/console/new-template.html'"></div>
 <div data-ng-controller="NewElementCtrl as nec" 
    ng-include src="'/console/new-element.html'"></div>
</div>
</div>
