<!-- Projects -->
<div class="list-projects">
	<div class="panel-head">
		<span class="node-title">{{'CNSL_PRJ_NODE_TITLE'|translate}}</span>
		<span class="node-buttons">
			<a href="javascript:void(0);"
				 data-ng-show="lpc.tutor && lpc.isSharedProject"
				 data-ng-click="lpc.unShareProject()">
				<img src="img/unpublish_project.png"
					data-tide-tooltip="CNSL_PRJ_UNPUBLISH"
					alt="{{'CNSL_PRJ_UNPUBLISH_ALT'|translate}}"/></a>
			<a href="javascript:void(0);" data-toggle="modal"
				 data-ng-show="lpc.tutor && (!lpc.isSharedProject) && lpc.projects.length"
				 data-target="#share-project" data-keyboard="true">
				<img src="img/publish_project.png"
					data-tide-tooltip="CNSL_PRJ_PUBLISH"
					alt="{{'CNSL_PRJ_PUBLISH_ALT'|translate}}"/></a>
			<a href="javascript:void(0);" data-toggle="modal"
				 data-target="#add-project" data-keyboard="true">
				<img src="img/folder_add.png" data-tide-tooltip="CNSL_PRJ_ADD"
					alt="{{'CNSL_PRJ_ADD_ALT'|translate}}"/></a>
		</span>
	</div>
	<div class="tree-node tree-node-content">
		<span class="node-title">
			<select id="cboProjects"
				class="form-control"
				data-selectpicker
				data-none-selected-text=" "
				data-ng-model="lpc.current"
				data-ng-change="lpc.changeProject()"
				data-live-search="false"
				data-ng-options="p.name as p.name for p in lpc.projects track by p.name">
			</select>
		</span>
		<span class="node-buttons">
			<a href="javascript:void(0);" id="delete-project"
				 data-ng-show="lpc.projects.length"
				 ng-click="lpc.deleteProject()">
				<img src="img/folder_delete.png" data-tide-tooltip="CNSL_PRJ_DELETE"
						 alt="{{'CNSL_PRJ_DELETE_ALT'|translate}}"/></a>
		</span>
	</div>
</div>
