<!-- Files -->
<div id="list-files" class="list-files">
	<!-- Nodes render template -->
	<script type="text/ng-template" id="nodes_renderer.html">
		<div data-nodrag ui-tree-handle class="tree-node tree-node-content">
			<span class="node-title">
				<a ng-if="node.nodes && node.nodes.length > 0" 
					data-nodrag ng-click="toggle(this)">
					<span ng-class="{ 'collapsed': collapsed, 'notcollapsed': !collapsed }"></span></a>
				{{node.title}}
			</span>
			<span class="node-buttons">
				<a data-nodrag ng-show="node.nodes" data-toggle="modal" 
					ng-click="lfc.setFolder(this)"
					data-target="#add-file" data-keyboard="true">
					<img src="img/folder_add.png" data-tide-tooltip="CNSL_FILE_ADD"
						alt="{{'CNSL_FILE_ADD'|translate}}"/></a>
				<a data-nodrag ng-hide="node.nodes" data-ng-click="lfc.openFile(this)" >
					<img src="img/edit_file.png" data-tide-tooltip="CNSL_FILE_EDIT"
						alt="{{'CNSL_FILE_EDIT_ALT'|translate}}"/></a>
				<a data-nodrag ng-click="lfc.deleteFile(this)">
					<img src="img/folder_delete.png" data-tide-tooltip="CNSL_FILE_DELETE"
						alt="{{'CNSL_FILE_DELETE_ALT'|translate}}" /></a>
			</span>
		</div>
		<ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
			<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
			</li>
		</ol>
	</script>
	<!-- File list -->
	<div class="panel-head">
		<span class="node-title">{{'CNSL_FILE_NODE_TITLE'|translate}}</span>
		<span class="node-buttons action">
			<a href="javascript:void(0);" id="new-module" 
				data-ng-show="lfc.projects.length"
				data-ng-click="lfc.setFolder(this)"
				data-toggle="modal" data-target="#add-file"
				data-keyboard="true">
				<img src="img/folder_add.png" data-tide-tooltip="CNSL_FILE_ADD"
					alt="{{'CNSL_FILE_ADD_ALT'|translate}}"/>
			</a>
		</span>
	</div>
	<div data-ng-hide="lfc.files.length > 0" class="tree-node tree-node-content">
		<span class="node-title">{{ 'CNSL_FILE_NOFOUND'|translate }}</span>
	</div>
	<div ui-tree id="tree-root" data-ng-show="lfc.files.length > 0">
		<ol ui-tree-nodes ng-model="lfc.files">
			<li ng-repeat="node in lfc.files" ui-tree-node ng-include="'nodes_renderer.html'"></li>
		</ol>
	</div>
</div>
