<!-- Modal new element -->
<div class="modal fade" id="add-file" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content"> 
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
				<h2 class="modal-title" id="title-add-file">
					{{'CNSL_ELMT_TITLE'|translate}}</h2>
			</div>
			<div class="modal-body">
				<div>
					<label data-translate="CNSL_ELMT_DESC" 
						data-translate-values="{folder: nec.folderOwner}">
					</label>
				</div>
				<form data-ng-submit="nec.newFile(true)">
					<h4 class="section" ng-class="{active:nec.newElement.section == 1}">
					 <a href ng-click="nec.changeSection(1,'name-file')">
						{{'CNSL_ELMT_FILE_TITLE'|translate}}</a>
					</h4>
					<div class="form-group" ng-show="nec.newElement.section == 1">
						<div class="tree-node tree-node-content">
							<span class="node-title">
								<input id="name-file" type="text" class="form-control"
									data-ng-model="nec.newElement.filename" 
									required data-autofocus 
									placeholder="{{'CNSL_ELMT_FILE_NAME'|translate}}" />
							</span>
							<span class="node-buttons">
								<button type="submit" id="addFileSubmit" style="display:none;"/>
								<a onclick="$('#addFileSubmit').click()">
									<img src="img/file_create.png" 
										data-tide-tooltip="CNSL_ELMT_FILE_ADD"
										alt="{{'CNSL_ELMT_FILE_ADD_ALT'|translate}}"/></a>
							</span>
						</div>
					</div>
				</form>
				<form data-ng-submit="nec.newFile(false)">
					<h4 class="section" ng-class="{active:nec.newElement.section == 2}">
					 <a href ng-click="nec.changeSection(2, 'name-dir')">
						{{'CNSL_ELMT_FOLDER_TITLE'|translate}}</a>
					</h4>
					<div class="form-group" ng-show="nec.newElement.section == 2">
						<div class="tree-node tree-node-content">
							<span class="node-title">
								<input id="name-dir" type="text" class="form-control"
									data-ng-model="nec.newElement.foldername" required
									placeholder="{{'CNSL_ELMT_FOLDER_NAME'|translate}}" />
							</span>
							<span class="node-buttons">
								<button type="submit" id="addFolderSubmit" style="display:none;"/>
								<a onclick="$('#addFolderSubmit').click()">
									<img src="img/folder_create.png" 
										data-tide-tooltip="CNSL_ELMT_FOLDER_ADD"
										alt="CNSL_ELMT_FOLDER_ADD_ALT"/></a>
							</span>
						</div>
					</div>
				</form>
				<h4 class="section" ng-class="{active:nec.newElement.section == 3}">
					<a href ng-click="nec.changeSection(3, 'add-modules')">
						{{'CNSL_ELMT_UPLOAD_TITLE'|translate}}</a>
				</h4>
				<div class="form-group" ng-show="nec.newElement.section == 3">
					<label for="file-hs" class="hide">{{'CNSL_ELMT_UPLOAD_SELECT'|translate}}</label>
					<input id="file-hs" type="file" data-nv-file-select 
          	uploader="nec.uploader" multiple class="hide"/>
					<div class="tree-node tree-node-content">
						<span class="node-title">{{'CNSL_ELMT_UPLOAD_SELECT'|translate}}</span>
						<span class="node-buttons">
							<a href="javascript:void(0);" id="add-modules"
								 class="push-right" onclick="$('#file-hs').click();">
								<img src="img/ellipsis.png"
									data-tide-tooltip="CNSL_ELMT_UPLOAD_ADD"
									alt="{{'CNSL_ELMT_UPLOAD_ADD_ALT'|translate}}"/></a>
							<a href="javascript:void(0);" id="upload-all"
								data-ng-show="nec.uploader.queue.length>1"
								data-ng-click="nec.uploader.uploadAll()">
								<img src="img/upload-all.png" 
									data-tide-tooltip="CNSL_ELMT_UPLOAD_UP"
									alt="{{'CNSL_ELMT_UPLOAD_UP_ALT'|translate}}" /></a>
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class="tree-node tree-node-content" 
               data-ng-repeat="item in nec.uploader.queue">
							<span class="node-title"><em>{{ item.file.name }}</em></span>
							<span class="node-buttons">
								<a href="javascript:void(0);" data-ng-click="item.upload()">
									<img src="img/upload.png" 
										data-tide-tooltip="CNSL_ELMT_UPLOAD_UP_FILE"
										alt="{{'CNSL_ELMT_UPLOAD_UP_FILE_ALT'|translate}}"/></a>
								<a href="javascript:void(0);" 
										data-ng-click="nec.removeFileUpload($index)">
									<img src="img/folder_delete.png" 
										data-tide-tooltip="CNSL_ELMT_UPLOAD_CANCEL"
										alt="{{'CNSL_ELMT_UPLOAD_CANCEL_ALT'|translate}}"/></a>
							</span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" 
                data-ng-click="nec.close()">
					{{'CNSL_ELMT_CLOSE'|translate}}
				</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
  $('#add-file').on('shown.bs.modal', function () {
    $('#add-file').scope().$parent.nec.changeSection(1, 'name-file');
  });
</script>
