<!-- Modal share project -->
<div class="modal fade" id="share-project" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content"> 
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
				<h2 class="modal-title" id="title-share-project">
					{{'CNSL_TMPL_TITLE'|translate}}
				</h2>
			</div>
			<form id="frmShareProject" role="form" 
				data-ng-submit="ntc.shareProject()">
				<div class="modal-body">
					<label for="name-share" class="hide">{{'CNSL_TMPL_NAME'|translate}}</label>
					<input id="name-share" type="text" class="form-control"
						data-ng-model="ntc.newTemplate.name" required data-autofocus
						placeholder="{{'CNSL_TMPL_NAME'|translate}}" />
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" >
						{{'CNSL_TMPL_SAVE'|translate}}</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						{{'CNSL_TMPL_CLOSE'|translate}}</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('#share-project').on('shown.bs.modal', function() {
    $('#name-share').focus();
  });
</script>
