<!-- Modal new project -->
<div class="modal fade" id="add-project" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content"> 
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
				<h2 class="modal-title" id="title-add-project">
					{{'CNSL_PRJ_NEW_TITLE'|translate}}
				</h2>
			</div>
			<form id="frmAddPrj" role="form" ng-submit="npc.addProject()">
				<div class="modal-body">
					<div class="form-group">
						<label for="name-prj">{{'CNSL_PRJ_NEW_NAME'|translate}}</label>
						<input id="name-prj" type="text" class="form-control"
							required data-ng-model="npc.newProject.name" data-autofocus
							placeholder="{{'CNSL_PRJ_NEW_NAME'|translate}}" />
					</div>
					<div class="form-group">
						<label for="cboTmpProjects">{{'CNSL_PRJ_NEW_TEMPLATE'|translate}}</label>
						<select id="cboTmpProjects"
							class="form-control"
							data-selectpicker
							data-ng-model="npc.newProject.templateSelected"
							data-live-search="false"
							data-ng-options="t for t in npc.templates"/>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">
						{{'CNSL_PRJ_NEW_SAVE'|translate}}</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						{{'CNSL_PRJ_NEW_CLOSE'|translate}}</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
  $('#add-project').on('shown.bs.modal', function () {
    $('#name-prj').val("");
    $('#name-prj').focus();
  });
</script>

