<!-- Console and Code -->
<div resizable r-flex="true" r-directions=[] class="row">
	<div id="divTabFiles" 
		data-ng-controller="TabFilesCtrl as tfc">
	<ul id="tab-files" class="nav nav-tabs" >
		<li id="tab-console" class="active">
			<a id="bannerEnv" href="javascript:void(0);" 
				data-ng-click="tfc.activateTabConsole()">
				{{tfc.bannerEnv}}</a></li>
		<li data-ng-repeat="tf in tfc.tabFiles"
				data-ng-class="{'active':tf.active}">
			<a href="javascript:void(0);" 
				data-ng-click="tfc.activateTab($index)"
				data-ng-class="{'editor-modified':tf.modified}">
				{{tf.name}}</a>
			<a class="savetab" href="javascript:void(0);" 
				data-tide-tooltip="CNSL_TAB_SAVE" 
				data-ng-show="tf.modified" data-ng-click="tfc.saveFile($index)">
				<img alt="{{'CNSL_TAB_SAVE'|translate}}" src="img/save_file.png"></a>
			<a class="closetab" href="javascript:void(0);" 
				data-tide-tooltip="CNSL_TAB_CLOSE" 
				data-ng-click="tfc.closeTab($index)">
				<img alt="{{'CNSL_TAB_CLOSE'|translate}}" src="img/close.png"></a>
		</li>
	</ul>
	</div>
	<div id="console-container" class="console-container"
		data-ng-controller="TutorConsoleCtrl as tcc">
		<div class="console" id="divConsole">
			<tc-console data-console='tcc.console' data-options='tcc.options'/>
		</div>
	</div>
	<div id="code-container" class="code-container"
		data-ng-controller="MarkdownCtrl as mdc">
	<div class="container-fluid">
		<div id="code-col" class="code-col" data-ng-class="mdc.classCode()"
			data-resizable data-r-directions="['right']" date-r-noThrottle="true">
			<form id="frmCode" role="form" onsubmit="return false;">
				<label for="txtCode" class="hide">{{'CNSL_TITLE'|translate}}</label>
				<textarea id="txtCode" name="txtCode" class="font-control"></textarea>
			</form>
		</div>
		<div id="md-col" class="code-md" data-resizable data-r-flex="true" 
			data-r-directions="[]" data-ng-show="mdc.isMarkdown()">
			<div id="markdown-text"></div>
		</div>
	</div>
	</div>
</div>
