/* Fill nodes with different colors */
svg text {
	stroke: #fff; /* Default stroke is #fff */
}
.roja {
  fill: red;
}
.azul {
  fill: blue;
}
.negra {
  fill: black;
}
/* Node is 1/2 of the base radius (8) */
circle {
  transform: scale(1.5);
}
/* Initial size of every SVG object */
.canvas {
  width: 100px;
  height: 100px;
}
