<!--Users page -->
<div data-ng-controller="EnvsCtrl as envs" class="container show-top-margin separate-rows tall-rows">
  <div><h1>{{'ENVS_TITLE'|translate}}</h1></div>
  <table id="envs-table" class="table table-bordered table-striped">
    <caption class="hide">{{'ENVS_DESC'|translate}}</caption>
    <thead>
      <tr>
        <th id="id">{{'ENVS_ID'|translate}}</th>
        <th id="banner">{{'ENVS_LBL_VERSION'|translate}}</th>
        <th id="prompt">{{'ENVS_PROMPT'|translate}}</th>
        <th id="allowed">{{'ENVS_COMMAND_ALLOWED'|translate}}</th>
        <th id="exts">{{'ENVS_EXTS'|translate}}</th>
        <th id="interpreters">{{'ENVS_INTERPS'|translate}}</th>
        <th id="accion" class="action text-center">
          <a data-ng-show="$session.isRoot()" href="javascript:void(0);"
             data-ng-click="envs.addEnv()">
            <img src="img/add_env.png" alt="{{'ENVS_ADD'|translate}}" 
							data-tide-tooltip="ENVS_ADD">
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
			<tr data-ng-hide="envs.envs.rows.length">
				<td colspan="7" headers="id banner prompt allowed exts interpreters
accion" class="text-center">{{'ENVS_NOFOUND'|translate}}</td>
			</tr>
      <tr data-ng-repeat="env in envs.envs.rows">
        <td headers="id"><!-- editable id -->
          <span class="id" data-editable-text="env.doc._id" 
						data-e-name="id" data-e-form="rowform" data-tide-autofocus
						data-onbeforesave="envs.required($data)" data-e-required>
            {{ env.doc._id || '' }}
          </span>
        </td>
        <td headers="banner"><!-- editable banner -->
          <span data-editable-text="env.doc.banner" data-e-name="banner" 
						data-e-form="rowform" data-onbeforesave="envs.required($data)" 
						data-e-required data-e-autofocus>
            {{ env.doc.banner || '' }}
          </span>
        </td>
        <td headers="prompt"><!-- editable prompt -->
          <span data-editable-text="env.doc.prompt" 
						data-e-name="prompt" data-e-form="rowform" 
						data-onbeforesave="envs.required($data)" data-e-required>
            {{ env.doc.prompt || '' }}
          </span>
        </td>
        <td headers="allowed"><!-- editable allowed -->
          <span data-editable-textarea="env.doc.allowed"
						data-e-name="allowed" data-e-form="rowform"
						data-onshow="$data = env.doc.allowed.join('\n') || $data; return"
						data-e-placeholder="{{'ENVS_ALLOWED_LBL'|translate}}">
            {{ $data.join('\n') || $data }}
          </span>
        </td>
        <td headers="exts"><!-- editable extensions -->
          <span data-editable-textarea="env.doc.exts"
						data-e-name="exts" data-e-form="rowform"
						data-onshow="$data = env.doc.exts.join('\n') || $data; return"
						data-onbeforesave="envs.required($data)" data-e-required
						data-e-placeholder="{{'ENVS_EXTS_LBL'|translate}}">
            {{ $data.join('\n') || $data }}
          </span>
        </td>
        <td headers="interpreters"><!-- editable image -->
					<div ng-show="rowform.$visible" class="btn btn-default"
						ng-click="env.doc.interpreters.push({id:'',command:'',image:''})">+</div>
					<div ng-show="rowform.$visible" class="btn btn-default"
						ng-click="env.doc.interpreters.splice(env.doc.interpreters.length - 1, 1)">-</div>
					<p ng-repeat="i in env.doc.interpreters track by $index">
						<span data-e-form="rowform" data-editable-text="i.id"
							data-onbeforesave="envs.obsInterp(this, $index)"
							data-e-placeholder="{{'ENVS_INTERPS_ID'|translate}}" data-e-required>
							{{ i.id || '' }}
						</span><br/>
						<span data-e-form="rowform" data-editable-textarea="i.command"
							data-onbeforesave="envs.obsInterp(this, $index)"
							data-onshow="$data = i.command.join('\n') || $data; return"
							data-e-placeholder="{{'ENVS_INTERPS_ORDER'|translate}}" data-e-required>
            	{{ $data.join('\n') || $data }}
						</span><br/>
						<span data-e-form="rowform" data-editable-select="i.image"
							data-onbeforesave="envs.obsInterp(this, $index)"
							data-e-ng-options="r for r in envs.allimages"
							data-e-required>
							{{ i.image || '' }}
						</span>
						<span data-e-form="rowform" data-editable-select="i.net"
							data-onbeforesave="envs.obsInterp(this, $index)"
							data-e-ng-options="r for r in envs.allnets"
							data-e-required>
							{{ i.net || '' }}
						</span>
						<span data-e-form="rowform" data-editable-text="i.workdir"
							data-onbeforesave="envs.obsInterp(this, $index)" data-e-required
							data-e-placeholder="{{'ENVS_INTERPS_FOLDER'|translate}}">
							{{ i.workdir || '' }}
						</span>
					</p>
        </td>
        <td headers="accion" class="action">
          <form data-editable-form name="rowform"
            data-onbeforesave="envs.add ? envs.createEnv($data, rowform) : envs.saveEnv($data, rowform)" 
            data-ng-show="rowform.$visible" data-shown="envs.inserted == env"
            class="form-buttons form-inline">
            <button type="submit" data-ng-disabled="rowform.$waiting"
							class="btn btn-link" data-tide-tooltip="ENVS_SAVE">
              <img src="img/save_env.png" alt="{{'ENVS_SAVE'|translate}}"/>
						</button>
            <button type="button" data-ng-disabled="rowform.$waiting" 
							class="btn btn-link" data-tide-tooltip="ENVS_CANCEL"
              data-ng-click="rowform.$cancel(); envs.cancelEnv($index)">
							<img src="img/cancel_env.png" alt="{{'ENVS_CANCEL'|translate}}"/>
						</button>
          </form>
          <div class="text-center" data-ng-show="!rowform.$visible">
						<a href="javascript:void(0);" data-ng-click="envs.editEnv(rowform)">
              <img src="img/edit_env.png" alt="{{'ENVS_EDIT'|translate}}"
                   data-tide-tooltip="ENVS_EDIT"/></a>
            <a data-ng-show="$session.isRoot()" href="javascript:void(0)"
               data-ng-click="envs.deleteEnv($index, envs.envs.rows[$index].doc._id)">
              <img src="img/delete_env.png" alt="{{'ENVS_DELETE'|translate}}" 
								data-tide-tooltip="ENVS_DELETE"/>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
